.article-list-page {
	h1 {
		text-align: center;
		text-decoration: solid;
		font-size: 20px;
		font-weight: 200;
		text-shadow: 1px 1px #141414;
	}
	.article-preview {
		text-align:justify;
		display: flex;
		grid-row-gap: 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.article-item {
		background-color: white;
		width: 100%;
		max-width: 350px;
		border-radius: 5px;
		overflow: hidden;
		padding: 10px;
		margin: 15px;
	}
	img {
		height: 200px;
		width: 100%;
		border-radius: 5px;
	}
	h3 {
		text-decoration: none;
		min-height: 50px;
		min-height: 50px;
		display: flex;
		font-weight: 800;
		color: black;
		text-align: center;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.article-info {
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 5px;
		text-align: left;
	}
}