@import '../mixin/responsive-mixin.scss';

.article-detail-page {

    h2 {
        line-height: 1.5em;
    }

    h3 {
        margin: 1em 0;
    }

	img {
        max-height: 16em;
        margin: 1em 0;
		border-radius: 2em;
		width: 100%;
        object-fit: cover;

        @include desktop {
            max-height: 20em;
            width: 50%;
        }
	}

	.body {
		line-height: 1.5em;
		text-align: justify;
	}
    
    span {
        display: block;
    }

    p {
        margin-bottom: 1em;
    }

    a {
        font-weight: bold;
        color: $secondary-color;
    }
}