@import '../variable/variable.scss';
@import '../mixin/flexbox-mixin.scss';
@import '../mixin/responsive-mixin.scss';

.create-report-page {
    @include flex-box($direction: column);
    min-height: 70vh;

    @include desktop {
		width: 80%;

        .create-report-form {
            width: 100%;
        }
	}

    .login-btn, .send-btn {
        background-color: $fourth-color;
        border-radius: 1em;
        border: 0 solid $fourth-color;
        color: $primary-icon-color;
        width: 100%;
        text-align: center;
        margin-top: 1em;
        cursor: pointer;
    }

    .input-field {
        text-align: left;
        @include flex-box($direction: column);
        margin-bottom: 1em;

        label {
            margin-bottom: .5em;
        }

        input, label, select {
            padding-left: .5em;
            width: 100%;
        }
    }

    .loading-section {
        @include flex-box();
        @include sticky-elemen();
        color: $primary-icon-color;
        height: 100%;
        background-color: rgba($color: $primary-color, $alpha: .5);
    }

    .loading-section.hidden {
        display: none;
    }

}