@import '../mixin/sticky-elemen-mixin.scss';
@import '../mixin/flexbox-mixin.scss';
@import '../mixin/responsive-mixin.scss';
@import '../variable/variable.scss';

.nav-container {
    @include flex-box($direction: column, $align: stretch);
    @include sticky-elemen();
    height: $top-gap;
    background-color: $primary-color;

    .navigation {
        @include flex-box($justify: space-between);
        padding: .5em 1em;

        & .drawer {
            @include flex-box($direction: column, $justify: flex-start);
            width: 100vw;
            height: 100vh;
            background-color: $primary-icon-color;
            color: $primary-color;
            position: fixed;
            top: 0;
            right: -100vw;
            transition: .5s;
            font-size: 1.5em;
            font-weight: bold;
        
            .profile-image {
                width: 50%;
                margin: .5em;

                @include tablet {
                    width: 30%;
                }

                @include desktop {
                    width: 10%;
                }
            }

            .logo-section {
                text-align: center;
    
                @include desktop {
                    // display: none;
                }
            }

            .logo {
                margin-top: 3em;
                width: 50%;
            }

            .profile-icon {
                @include flex-box($direction: column);
            }

            a {
                margin-top: 2em;
                text-align: center;
                width: 80%;
                padding-bottom: 1em;
                border-bottom: 1px solid $primary-color;

                @include desktop {
                    margin-top: 1em;
                }
            }
        }

        & .drawer.show {
            right: 0;
        }

        .app-title {
            font-family: 'Rubik Vinyl', cursive;
            font-size: 1.8em;
            color: white
        }

        .container-icon {
            @include flex-box();
        }

        .icon {
            color: $primary-icon-color;
        }

        .exit-drawer {
            margin-top: 1em;
        }
    }
}