@import '../mixin/flexbox-mixin.scss';
@import '../variable/variable.scss';

.login-page {
    text-align: center;

    h3 {
        margin-bottom: 1em;
    }

    img {
        width: 50%;
    }

    .login-form {
        padding: 1em 0;
    }

    .input-field {
        text-align: left;
        @include flex-box($direction: column);
        margin-bottom: 1em;

        label {
            margin-bottom: .5em;
        }

        input, label {
            padding-left: .5em;
            width: 100%;
        }
    }

    .report-btn {
        @include flex-box();
        background-color: $secondary-color;
        color: $primary-icon-color;
        border-radius: .5em;
        font-weight: bold;
        width: 50%;
    }

    .login-btn {
        background-color: $fourth-color;
        border-radius: 1em;
        border: 0 solid $fourth-color;
        color: $primary-icon-color;
        width: 60%;
        text-align: center;
    }

    .footer-form {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid $primary-color;
    }
}