@import '../mixin/flexbox-mixin.scss';
@import '../variable/variable.scss';

.profile-page {

    .container {
        @include flex-box($direction: column);
    }

    .field {
        width: 100%;
        @include flex-box($direction: column, $justify: space-between);
        margin-bottom: 1em;

        p {
            font-weight: bold;
        }
    }

    .picture {
        width: fit-content;
        border: 1px solid $primary-color;
        border-radius: 50%;

        img {
            width: 100%;
        }
    }
}