@import '../mixin/flexbox-mixin.scss';
@import '../mixin/responsive-mixin.scss';
@import '../mixin/sticky-elemen-mixin.scss';
@import '../variable/variable.scss';

.register-page {
	@include flex-box();

	@include desktop {
		width: 80%;
	}

	& .container {
		width: 90%;
		margin: auto;
	}

	& header {
		text-align: center;
		margin-bottom: 1em;
	}

	& .logo {
		width: 50%;
		height: auto;

		@include desktop {
			width: 20%;
		}
	}

	.input-field {
		@include flex-box($direction: column, $align: center);
		width: 100%;
		margin-bottom: 1em;
		text-align: left;

		label {
			width: 100%;
			margin-bottom: .5em;
		}

		input, select {
			border: 1px solid darkgray;
			border-radius: 4px;
			height: 2.25em;
			padding: 0 .5em;
			width: 100%;
			background-color: white;
		}

        img {
            margin: 1em;
            width: 20%;
        }
	}

    .choose-picture, .register-btn {
        background-color: $fourth-color;
        border-radius: 1em;
        border: 0 solid $fourth-color;
        color: $primary-icon-color;
        width: 60%;
        text-align: center;
		cursor: pointer;
    }

	.choose-picture {
        background-color: $terniary-color;
	}

    .picture-list {
		padding-top: 2em;
        background-color: $primary-icon-color;
        @include sticky-elemen();
        width: 100vw;
        height: 100vh;
		text-align: center;

        &.hide {
            display: none;
        }

		.list-container {
			@include flex-box();
			flex-wrap: wrap;
		}

		@include desktop {
			img {
				width: 8%;
				margin: 1em 2em;
				cursor: pointer;
			}
		}
    }
}