//mobile
.add-report-page {
    padding: 20px;
    background: linear-gradient(to right, rgba(76, 161, 175, 1), rgba(196, 224, 229, 1));
}

header {
    display: block;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
}

header img .logo {
    max-width: 100%;
    height: auto;
}

h1,
h2 {
    font-family: 'Vollkorn';

}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table th,
table td {
    padding: 12px 15px;
}
table thead tr {
    color: #ffffff;
    text-align: left;
}


.input-add-report {
    margin: 20px auto;
    padding: 10px;
    text-align: justify;
    font-family: 'Vesper Libre';
    display: flex;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    .wrap-input {
        text-align: start;
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
}

h2 {
    font-size: 20px;
    text-align: center;
}

.input-register label {
    font-size: 15px;
}

.input-register input,
select {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.input-register,
.address {
    min-height: 50px;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
}

button {
    background-color: rgb(48, 94, 143);
    margin-top: 5px;
    margin-right: 25%;
    margin-left: 25%;
    justify-content: center;
    align-content: center;
}

.btn-daftar {
    width: 50%;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

//tablet
@media screen and (min-width:600px) {
    .data {
        max-width: 500px;
    }

    button {
        max-width: 300px;
    }
}

@media screen and (min-width:768px) {
    .input-register {
        gap: 20px;
    }

    .data {
        max-width: 325px;
    }

    h2 {
        display: none;
    }

    button {
        max-width: 325px;
        height: 30px;
    }
}

//laptop
@media screen and (min-width:1024px) {
    .data {
        max-width: 450px;
    }
}

@media screen and (min-width:1220px) {
    h1 {
        font-size: 25px;
    }

    .data {
        max-width: 500px;
    }

    .input-register label {
        font-size: 18px;
    }

    .input-register input,
    select {
        padding: 8px;
        border: none;
        border-radius: 8px;
    }

    button {
        max-width: 400px;
        padding: 10px;
        height: 40px;
        font-size: 15px;
    }

}