.page-register{
	background: linear-gradient(
		to right,
		rgba(76, 161, 175, 1),
		rgba(196, 224, 229, 1)
	);
	padding: 20px;
	align-items: center;
}
header{
	text-align: center;
	display: block;
}
header img{
    width: 100px;
    height: 100px;
}
header img .logo{
	max-width: 100%;
    height: auto;
	background: transparent;
}
h1, h2{
	font-family: 'Vollkorn';
}
.input-register{
	padding: 10px;
    display: flex;
    flex-direction: column;
	justify-content: center;
	font-family: 'Vesper Libre';
	display: block;
}
.akun, .data-diri{
    display: flex;
    flex-direction: column;
	gap: 5px;
	margin-bottom: 5px;
}
h2{
	font-size: 20px;
	text-align: center;
}
.input-register label{
	font-size: 15px;
}
.input-register input, select{
    padding: 5px;
    border: none;
    border-radius: 5px;
	display: block;
}
.input-register, .address{
	min-height: 50px;
	outline: none;
	word-wrap: break-word;
    word-break: break-all;
}
button{
	background-color: rgb(48, 94, 143);
	display: block;
	margin-top: 5px;
	margin-right: 25%;
	margin-left: 25%;
	display: flex;
    justify-content: center;
	align-content: center;
}
.btn-daftar{
	width: 50%;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	text-align: center;
}