@import './reset/reset.scss';
@import './section/register.scss';
@import './section/login.scss';
@import './section/profile.scss';
@import './section/header.scss';
@import './section/home.scss';
@import './section/footer.scss';
@import './section/article-list.scss';
@import './section/article-detail.scss';
@import './section/report-list.scss';
@import './section/report-detail.scss';
@import './section/create-report.scss';
@import './mixin/responsive-mixin.scss';
@import './variable/variable.scss';

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

body {
    background: linear-gradient(180deg, #FFFFFF 0%, #EFF5F5 25%, #FFFFFF 50%, #EFF5F5 75%, #FFFFFF 100%);
}

body, input, textarea, button, select, option {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Rubik', 'Barlow', sans-serif;

    @include tablet {
        font-size: 20px;
    }

    @include desktop {
        font-size: 22px;
    }
}

.hidden {
    display: none;
}

.notification-alert {
    @include flex-box($justify: space-between);
    background-color: $primary-background-color;
    position: fixed;
    width: 100%;
    transition: 1s;
    border-radius: 1em;
    border: 4px solid $fourth-color;
    padding: 1em .5em;
    top: -100px;
    left: 0;

    &.show {
        top: 100px;
    }
}

.label-text {
    color: grey;
}

img {
    width: 10%;
}

svg {
    height: 100%;
}

button, a, input, textarea, svg, select, option {
    min-width: 36px;
    min-height: 36px;
}

main {
    margin-top: $top-gap;
    padding: 2.5em 2em 2em;
    @include flex-box($direction: column, $justify: flex-start);
    width: 100%;
    min-height: 75vh;
}

.btn {
    padding: .5em 2em;
}

.highlight {
    font-weight: bolder;
}

.center {
    text-align: center;
}