$top-gap: 5em;

$primary-color: #5F939A;
$secondary-color: #056676;
$terniary-color: #89C9B8;
$fourth-color: #31C6D4;

$primary-background-color: #FFFFFF;

$primary-icon-color: #EFF5F5;

$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-large-desktop: 1200px;
$screen-extra-large-desktop: 1400px;